numpy
plotly
streamlit>=1.30.0
pypdf>=3.17.0
pdfplumber>=0.10.0
streamlit-drawable-canvas>=0.9.3
streamlit-image-coordinates>=0.1.6
pandas>=2.0.0
Pillow>=10.0.0
folium
astral
requests
streamlit-image-coordinates>=0.1.6
openpyxl
